* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    background-color: #f3f3f3;
}
.container {
    width: 90vw;
    margin: 0 auto;
}
header {
    margin: 10px auto;
    color: white;
    text-align: center;
}
header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav {
    display: flex;
    background-color: rgb(175, 2, 46);
}
nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}
section {
    display: flex;
    flex-direction: row;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
main .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
main .col {
    display: flex;
    flex-direction: column;
}
.title {
    background-color: rgb(175, 2, 46);
    margin-top: 40px;
    padding: 10px;
    color: white;
    font-size: 16px;
}
.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid rgb(175, 2, 46);
}
.hot-deal .items {
    flex-wrap: nowrap;
}
.hot-deal .items .item:last-child {
    border-right: none;
}
.item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% / 6);
    height: 300px;
    background-color: white;
    border-right: 1px solid #f3f3f3;
}
.products .item:nth-child(6),
.products .item:nth-child(12),
.products .item:nth-child(18),
.products .item:nth-child(24),
.products .item:nth-child(30),
.products .item:nth-child(36),
.products .item:nth-child(42),
.products .item:nth-child(48) {
    border-right: none;
}
.item img {
    width: 100%;
}
.details {
    padding: 10px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    color: white;
}
.details a {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    background-color: rgb(175, 2, 46);
    color: white;
}
footer p {
    width: 30%;
    padding: 20px;
}
@media screen and (max-width: 960px) {
    .item {
        width: 25%;
    }
    .title {
        font-size: 13px;
        padding: 5px;
    }
    .products .item:nth-child(4),
    .products .item:nth-child(8),
    .products .item:nth-child(12),
    .products .item:nth-child(16),
    .products .item:nth-child(20),
    .products .item:nth-child(24),
    .products .item:nth-child(28),
    .products .item:nth-child(32) {
        border-right: none;
    }
}
@media screen and (max-width: 600px) {
    .item {
        width: 50%;
    }
    .products .item:nth-child(2),
    .products .item:nth-child(4),
    .products .item:nth-child(6),
    .products .item:nth-child(8),
    .products .item:nth-child(10),
    .products .item:nth-child(12),
    .products .item:nth-child(14),
    .products .item:nth-child(16),
    .products .item:nth-child(18),
    .products .item:nth-child(20),
    .products .item:nth-child(22),
    .products .item:nth-child(24) {
        border-right: none;
    }
}

.product-detail h1 {
    margin-top: 30px;
}
.product-detail img {
    width: 100%;
    max-width: max-content;
    height: auto;
    max-height: max-content;
}
.product-detail table {
    width: 300px;
    max-width: 50%;
}
.product-detail table th {
    text-align: left;
    line-break: loose;
}
