.container
{background-color: yellow;

width:900px;
margin:0 auto;

}
.albumhot{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content
{display:flex;



}
.item
{margin: 5px;
}
.img2 img
{width:100%;
border-radius: 10px;

}
h2 {
	font-size:30px;
}